*{margin:0px;
padding:0px;}
.heading{background-color: white;
  width: 100%;

	position: absolute;
  top:0%;
  padding-top: 2%;
  }
         
        
        .anchor{color:blue;
          text-decoration: none;
        }
         #color1{color: rgb(0,0,0);
         }
         #color2{color: rgb(0,0,255);}
         #bgcolor{background-color: rgb(242, 242, 242);
          background-size: cover;
          width: 100%;
          height: 100%;
        }
         	.icons{width: 30px;
            height:30px;
            border-radius:50%;
            background-color: blue;
            color:white;
            position: absolute;
            right: 200px;
            top: 100px;}
  .icontext{position: absolute;
            right:90px;
            top:105px;}

       




.flex_container{display: flex;
           
  justify-content: flex-start;
  flex-wrap:wrap;
 
     
      position: absolute;
      top:30%;
      left:10%;      
      gap:15px;
            }

      .plus{width:50px;
        height:50px;
        border-radius: 50%;
        color:white;
        margin-right: 70px;
         background-color: solid blue;}      
            
    .underlineindexheading{text-decoration: none;}    
.flex_item{
  border:1px grey;
           width:25vw;
          display:inline-block;
          box-shadow:grey, 10px 10px 10px;
          line-height: 30px;
          border-radius: 10px;
          height: 30vh;
         	box-shadow: 0px,0px,10px black;
         	background-color: white;
          gap:50px;
          
         }
.line{text-decoration: line-through;
       color:#B3B3B3;

       }
.index1{filter:blur(4px);
width: 80%;
height:80%;
position: absolute;
overflow-x: none;}

#index1_parent{position: relative;
top:20%;}

#flex_container{display: flex;
  width: 80%;
  height: 80%;
           
  justify-content: flex-start;
  flex-wrap:wrap;
 position: absolute;
     
      
             }       
      
.containernav{width:30%;
             height:20%;
             border:1px solid black;
             position: absolute;
             top:50%;
             left:30%;
             background-color: rgb(192,192,192);}
 .item1{position:relative;
      top: 1px;
      left: 1px;}
      .item2{position: absolute;
        color:grey;
        font-weight: bold;
        font-size:20px;
          top: 0px;
           right: 1px;}
           .item3{text-align: center;
            margin:auto;
          }
          .item4{position:absolute;
            bottom:10px;
           right:10px;
           background-color:blue;}



.bodyindex2{background-color: rgb(242, 242, 242);
          background-size: cover;
          width: 50%;
          height: 100%;
          overflow-x: hidden;}
        .index2container{display: flex;
           width: 100%;
           height: 80%;
             
            flex-wrap:wrap;
            position: absolute;
            

           }
      .index2item{border:1px solid grey;
        border-radius: 10px;
           width:25vw;
           position: absolute;
           top:25vh;
           right:30vw;
          
          line-height: 30px;
          height: 35vh;
          box-shadow: 0px,0px,10px black;
          background-color: white;}
        .iconindex2{width:30px;
          height: 30px;
          position: absolute;
          left: 250px;
          top:105px;
           
           
           }
         .texticon2{position: absolute;
              left:290px;
                top: 110px;}

.index3{display: flex; 
justify-content: center;
margin-top: 25px;
height:25vh;}
.index3nav{width:35%;
height:15%;
position: absolute;
top:30%;}



@media only screen and (min-width:240px) and (max-width: 580px){
  .flex_container{display: block;
         height: auto;
  justify-content: space-between;
  flex-wrap:wrap;
 flex-direction: row;
     
      position: absolute;
      top:20%;
      left:8%;      
      margin: 10px;

      
            }
.flex_item{
  border:1px grey;
           width:60vw;
          display:block;
          box-shadow:grey, 10px 10px 10px;
          line-height: 30px;
          border-radius: 10px;
          height: 25vh;
          margin-left:40px;
          box-shadow: 0px 0px 10px black;
          background-color: white;
          margin: 40px;}
          
        
        .index2container{display: flex;
        flex-direction: row;
        overflow-x: none;
             justify-content: flex-start;
            flex-wrap:wrap;
            position: absolute;
            

           }
           
         
      .index2item{border:1px solid grey;
        border-radius: 10px;
           width:50vw;
           position: absolute;
           top:90px;
           left:-250px;
          
          line-height: 30px;
          height: 30vh;
          box-shadow: 0px,0px,10px black;
          background-color: white;}
        .iconindex2{width:20px;
          height: 20px;
          position: absolute;
          left: 25px;
          top:85px;
           
           
           }
         .texticon2{position: absolute;
              left:50px;
                top: 88px;
                font-size: 10px;
              }
.undelineicon{text-decoration:none;}
.icons{width: 20px;
            height:20px;
            border-radius:50%;
            background-color: blue;
            color:white;
            position: absolute;
             left: 90px;
            top: 85px;}
  .icontext{position: absolute;
            left: 130px;
            top:88px;
            font-size: 10px;
            color: blue;}


@media only screen and (min-width:210px) and (max-width: 580px){
 .flex_container{display: block;
         height: auto;
  justify-content: space-between;
  flex-wrap:wrap;
 flex-direction: row;
     
      position: absolute;
      top:20%;
      left:8%;      
      margin: 10px;

      
            }
.flex_item{
  border:1px grey;
           width:60vw;
          display:block;
          box-shadow:grey, 10px 10px 10px;
          line-height: 30px;
          border-radius: 10px;
          height: 25vh;
          margin-left:40px;
          box-shadow: 0px 0px 10px black;
          background-color: white;
          margin: 40px;


          
         }
          .containernav{width:60%;
             height:15%;
             border:1px solid black;
             position: absolute;
             top:50%;
             left:20%;
             background-color: rgb(192,192,192);}
        .item1{position:relative;
      top: 1px;
      left: 1px;}
      .item2{position: absolute;
        color:grey;
        font-weight: bold;
        font-size:18px;
          top: 0px;
           right: 1px;}
           .item3{text-align: center;
            margin:auto;
          }
          .item4{position:absolute;
            bottom:10px;
           right:10px;
           background-color:blue;}     

  .index1{filter:blur(4px);
width: 80%;
height:80%;
position: absolute;
overflow-x: none;}

#index1_parent{position: relative;
top:20%;}

#flex_container{display: flex;
  width: 80%;
  height: 80%;
           
  justify-content: flex-start;
  flex-wrap:wrap;
 position: absolute;
     
      
             } 


.index3item{width:28vw;
height:22vh;
margin: auto;}
.index3nav{

width: 65%;
position: absolute;
top: 25%;
left: 25px;
margin:auto;}




      }

@media only screen and (min-width:581px) and (max-width: 1912px){

*{margin:0px;
padding:0px;}
.heading{background-color: white;
  width: 100%;

  position: absolute;
  top:0%;
  padding-top: 2%;
  }
         
        
        .anchor{color:blue;
          text-decoration: none;
        }
         #color1{color: rgb(0,0,0);
         }
         #color2{color: rgb(0,0,255);}
         #bgcolor{background-color: rgb(242, 242, 242);
          background-size: cover;
          width: 100%;
          height: 100%;
        }
          .icons{width: 30px;
            height:30px;
            border-radius:50%;
            background-color: blue;
            color:white;
            position: absolute;
            right: 200px;
            top: 100px;}
  .icontext{position: absolute;
            right:90px;
            top:105px;}

       




.flex_container{display: flex;
           
  justify-content: flex-start;
  flex-wrap:wrap;
 
     
      position: absolute;
      top:30%;
      left:10%;      
      gap:15px;
            }

      .plus{width:50px;
        height:50px;
        border-radius: 50%;
        color:white;
        margin-right: 70px;
         background-color: solid blue;}      
            
    .underlineindexheading{text-decoration: none;}    
.flex_item{
  border:1px grey;
           width:25vw;
          display:inline-block;
          box-shadow:grey, 10px 10px 10px;
          line-height: 30px;
          border-radius: 10px;
          height: 30vh;
          box-shadow: 0px,0px,10px black;
          background-color: white;
          gap:50px;
          
         }
.line{text-decoration: line-through;
       color:#B3B3B3;

       }
.index1{filter:blur(4px);
width: 80%;
height:80%;
position: absolute;
overflow-x: none;}

#index1_parent{position: relative;
top:20%;}

#flex_container{display: flex;
  width: 80%;
  height: 80%;
           
  justify-content: flex-start;
  flex-wrap:wrap;
 position: absolute;
     
      
             }       
      
.containernav{width:30%;
             height:20%;
             border:1px solid black;
             position: absolute;
             top:50%;
             left:30%;
             background-color: rgb(192,192,192);}
 .item1{position:relative;
      top: 1px;
      left: 1px;}
      .item2{position: absolute;
        color:grey;
        font-weight: bold;
        font-size:20px;
          top: 0px;
           right: 1px;}

.icons{width: 20px;
            height:20px;
            border-radius:50%;
            background-color: blue;
            color:white;
            position: absolute;
             left:10pxpx;
            top: 85px;}
  .icontext{position: absolute;
            left: 110px;
            top:88px;
            font-size: 10px;
            color: blue;}









           .item3{text-align: center;
            margin:auto;
          }
          .item4{position:absolute;
            bottom:10px;
           right:10px;
           background-color:blue;}



.bodyindex2{background-color: rgb(242, 242, 242);
          background-size: cover;
          width: 50%;
          height: 100%;
          overflow-x: hidden;}
        .index2container{display: flex;
           width: 100%;
           height: 80%;
             
            flex-wrap:wrap;
      
            margin:auto;
            

           }
      .index2item{border:1px solid grey;
        border-radius: 10px;
           width:20vw;
           position: absolute;
           top:10%;
           right:100px;
          
          line-height: 30px;
          height: 30vh;
          box-shadow: 0px,0px,10px black;
          background-color: white;}
        .iconindex2{width:30px;
          height: 30px;
          position: absolute;
          left: 250px;
          top:105px;
           
           
           }
         .texticon2{position: absolute;
              left:250px;
                top: 110px;}

.index3{display: flex; 
justify-content: center;
margin-top: 25px;
height:25vh;}
.index3nav{width:35%;
height:15%;
position: absolute;
top:30%;}

}






