
.index3{display: flex; 
justify-content: center;
margin-top: 40px;
height:25vh;}
.index3nav{width:35%;
height:15%;
position: absolute;
top:30%;}
@media only screen and (min-width:210px) and (max-width: 550px){
.index3item{width:45vw;
height:25vh;
margin: auto;}
.index3nav{

width: 65%;
position: absolute;
top: 25%;
left: 55px;
margin:auto;}

}
@media only screen and (min-width:701px) and (max-width: 1200px){
.index3{display: flex; 
justify-content: center;
margin-top: 20px;
height:25vh;}
.index3nav{width:35%;
height:15%;
position: absolute;
top:30%;}
}
